// Place all the styles related to the Birds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
  width: 20%;
  float: left;
  margin: 10px;
  border-style: groove;
  border-color: #ffffcc;
  padding: 10px;
  text-align: center;

  .name {
    color: red;
    font-weight: bolder;
  }

  .image img {
    max-height:150px;
    max-width: 100%;
  }
  .price {
    font-style: italic;
  }
  .species {
    font-weight: bolder;
  }
}

.image img {
  max-height:150px;
  max-width: 20%;
}
